<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introduction</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      
<ul>
<li><a href="#learn-apis---a-hands-on-experience">Learn APIs - A Hands on Experience</a>
<ul>
<li><a href="#table-of-contents">Table of Contents</a></li>
</ul>
</li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="learn-apis---a-hands-on-experience">Learn APIs - A Hands on Experience</h1>
<h2 id="table-of-contents">Table of Contents</h2>
<ol>
<li><a href="#getting-started">Getting Started</a><br>
a. <a href="#requirements">Requirements</a></li>
<li><a href="#what-is-an-api?">What is an API?</a><br>
a. <a href="#how-exactly-does-an-api-work?">How exactly does an API work?</a></li>
<li><a href="#using-an-api">Using an API</a><br>
a. <a href="#booting-the-server">Booting the Server</a><br>
b. <a href="#making-your-first-request">Making Your First Request</a></li>
<li><a href="#http-requests">HTTP Requests</a><br>
a. <a href="#what-is-an-http-request?-what-does-it-look-like?">What is an HTTP request? What does it look like?</a><br>
b. <a href="#endpoints">Endpoints</a><br>
c. <a href="#making-requests-with-java">Making Requests with Java</a></li>
<li><a href="#part-2">Part 2</a></li>
</ol>
<h3 id="getting-started">Getting Started</h3>
<p>Welcome! This tutorial aims to provide a hands-on experience for learning from the basics of APIs to how to communicate with more complicated APIs. In this tutorial, we will cover what APIs are, how they work, and how to use them in your projects.</p>
<h4 id="requirements">Requirements</h4>
<ul>
<li>Any IDE of your choice</li>
<li>An API client of your choice, such as Postman or Insomnia (I’ll be using Insomnia in this tutorial)</li>
<li>Any flavor of JDK 19</li>
<li>This API JarFile for this tutorial: <a href="https://github.com/specialiststeak/">JarFile</a></li>
</ul>
<h3 id="what-is-an-api">What is an API?</h3>
<p>Put simply, an API (or Application Programming Interface) is a way for you to communicate with some form of service, web service, or database. They contain a set of predefined options which allow you to tell them to execute different tasks for you. For instance, an API might let an app turn on your phone’s flashlight by providing an interface to do so (even though I can’t access the hardware), or let me do something like send location data to Google Maps. While there are “offline” APIs (like <code>java.util</code>) there are also online ones which allow your program to interact with other programs. Today we’ll be looking into web-based APIs and how they work. Generally, however, APIs have 4 different ways in which they work:</p>
<ul>
<li><strong>GET</strong>: This method is used to retrieve data from a server. Some examples might look like:
<ul>
<li>Getting a list of users from a database</li>
<li>Getting the contents of a Google Doc</li>
<li>Getting some form of randomly generated data</li>
</ul>
</li>
<li><strong>POST</strong>: This method is used to add new data to a server. Some examples might look like:
<ul>
<li>Adding a new user to a database</li>
<li>Adding some new content to a Google Doc</li>
<li>Uploading a video through an API rather than through a graphical user interface</li>
</ul>
</li>
<li><strong>PUT</strong>: This method is used to update existing data on a server. Some examples might look like:
<ul>
<li>Changing information about a specific user in a database (like changing a username)</li>
<li>Capitalizing all letters of someone’s name if their idea matches a pattern (you can get pretty creative with these if they allow regular expressions)</li>
<li>Changing some of the contents of a Google Doc</li>
</ul>
</li>
<li><strong>DELETE</strong>: This method is used to delete data from a server. Some examples might look like:
<ul>
<li>Deleting a user from a database</li>
<li>Deleting a Google Doc</li>
<li>Sending a request to have your data deleted from a website</li>
</ul>
</li>
</ul>
<h4 id="how-exactly-does-an-api-work">How exactly does an API work?</h4>
<p>APIs are similar to websites in that their URIs (URLs) do something when you go to them and give you something back as a response. These URIs (such as <code>https://google.com</code>) are called endpoints, and by going to them and sometimes providing them additional data, it will tell the server to do something and serve you something back. This is called sending a request to an API, where you send one of the parameters above specifying your type of request (GET, POST, etc.), some content (if the API requires it), and any other things the API requires.</p>
<p>When you send a request to an API endpoint, it sends back a response with an HTTP status code (such as 200 OK, 404 NOT FOUND, etc.) which tells you the status of the request (if it went through, etc.) and sometimes includes other files alongside it such as JSON files (represent objects) or any other media. In simple terms, it allows for servers to transfer data between each other or provide operations for an application. Here’s a diagram from Smashing Magazine which might help you understand it better:<br>
<img src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/ab677d09-69b5-47db-a6e9-dcff07da51f7/platforms-api-diagram.png" alt="API Example"><br>
APIs can be used in programs, which means that they not only provide you with convenience in automating tasks or the ability to communicate with databases but are also an important part of any online service. For example, Discord might send a POST (add new data) request with your message to their database whenever you message your friends or send a GET (get data from a database) request upon startup to load your list of friends.</p>
<p>Not only do APIs allow for communication between servers internally, but also act as the common language of the digital world, due to communicating in standardized ways, regardless of platform. This means that a mobile app, a website, and a computer program could all communicate with the same API, like seen in the diagram below (credit to jlord):<br>
<img src="https://s3.amazonaws.com/jlord/apidiagram.png" alt="apidiagram"></p>
<h3 id="using-an-api">Using an API</h3>
<p>Now we’re going to look into how to actually communicate with APIs, starting first from a client which makes it simpler to use them, then moving to Java so that we can use them in code.</p>
<h4 id="booting-the-server">Booting the Server</h4>
<ol>
<li>Make sure that you have the JarFile downloaded and put wherever you’d like it to be.</li>
<li>Run the file using: <code>java -jar learn_api.jar</code></li>
<li>The API will now be up and running on port 8080 (as a locally hosted server). This means that the base URL of the API will be at <code>http://localhost:8080</code>, which is just the URL that things you’re running locally usually run on. If you go to <code>http://localhost:8080</code> in your browser, you should see a welcome message telling you everything’s working fine.</li>
</ol>
<h4 id="making-your-first-request">Making Your First Request</h4>
<p>To get started, we’re going to look into making a request with Insomnia to see what a response might look like in JSON format. To start:</p>
<ol>
<li>Open up Insomnia</li>
<li>In the menu, select the plus button to make a new request</li>
<li>Paste in: <code>http://localhost:8080/api/exampleoutput</code>, and set the request type to <code>GET</code> if it isn’t already set to it by default. This means that you’re telling the API that you want to GET whatever it has at the endpoint for you.</li>
<li>Send it! You should see the following as the APIs response, which in this case is an object containing some data like a name, id, description, and an array of tags: <img src="https://i.imgur.com/LyuIBR1.png" alt="exampleoutput"><br>
As we can see, this is just an object formatted into a text file in a JSON format. Each of the things like “id” represent fields of the object, and “tags” in this case also represents an array. If it was just a String object, the JSON might look like:</li>
</ol>
<pre><code>{
	"example": "example string"
}
</code></pre>
<hr>
Now let's try some other requests. Try sending a **GET** request to `http://localhost:8080/api/introduction2` to see the next steps of the guide (do it with Insomnia, or just open the link in your browser).

    </div>
  </div>
</body>

</html>
