<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introduction2</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      
<ul>
<li><a href="#introduction-part-2">Introduction Part 2</a>
<ul>
<li></li>
</ul>
</li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="introduction-part-2">Introduction Part 2</h1>
<ol start="4">
<li><a href="#http-requests">HTTP Requests</a><br>
a. <a href="#what-is-an-http-request?-what-does-it-look-like?">What is an HTTP request? What does it look like?</a><br>
b. <a href="#endpoints">Endpoints</a><br>
c. <a href="#making-requests-with-java">Making Requests with Java</a></li>
<li><a href="#part-2">Part 2</a></li>
</ol>
<p>I’ll cover these more in later sections, but now we’re going to try seeing how we can actually communicate with the API. Change the link in Insomnia from <code>http://localhost:8080/api/exampleoutput</code> to <code>http://localhost:8080/api/getusers</code> and press send (it should be a <strong>GET</strong> request). You should see a list of 10 users to the right, all in JSON format. Remember this step, we’ll come back to it.<br>
<img src="https://i.imgur.com/nLSPcpZ.png" alt="GET request to endpoint"></p>
<p>Next up, where it says <strong>GET</strong>, change it to <strong>POST</strong> (meaning we’re giving it some new data), and change <code>http://localhost:8080/api/getusers</code> to <code>http://localhost:8080/api/adduser</code>. Then, click <em>body</em> and select JSON. From here, paste in the following (understanding this represents a <code>user</code> object:</p>
<pre><code>{
	"name": "jen",
	"id": 192,
	"email": "jenma@ameil.com",
	"password": "pwods",
		"profilePicture": "C:\\Users\\Example\\Documents\\Code\\learn_api\\cdn.discordapp.com\\attachments\\867..."
}
</code></pre>
<p>Then you can go ahead, and press send. You should see some form of confirmation message saying success. We can check the actual changes by sending the initial request we sent to see a list of users, where we can see that <code>jen</code> was successfully added to the list. We added data to the database in this example.<br>
<img src="https://i.imgur.com/cXtffgH.png" alt="adding jen"><br>
<img src="https://i.imgur.com/L9sClqN.png" alt="jen was added"></p>
<p>Moving on, let’s say we want to delete jen from the database. We can go in and make a <strong>DELETE</strong> request to <code>http://localhost:8080/api/removeuser/{id}</code>, which in this case would be <code>http://localhost:8080/api/removeuser/192</code>. The API knows that since we specified the number in the URL, to remove that user. We can send that and repeat the initial step to see that jen is no longer in the database.</p>
<p><img src="https://i.imgur.com/bduSpKG.png" alt="deleting jen"><br>
In this case, it returned a true signifying that jen was deleted.</p>
<p>Now, let’s look into what this would actually look like in code.</p>
<h3 id="http-requests">HTTP Requests</h3>
<h4 id="what-is-an-http-request-what-does-it-look-like">What is an HTTP request? What does it look like?</h4>
<p>When you want to tell the API to do something, you make an HTTP request to it to tell it what you want. HTTP requests follow the following format:</p>
<ul>
<li>Request line
<ul>
<li>This request line is the first part of the request. It contains information about your request such as:
<ul>
<li>The HTTP method (GET, POST, etc.)</li>
<li>The URI (Uniform Resource Identifier) which is where you’re sending the request, such as <code>http://localhost:8080/api/exampleoutput</code></li>
<li>The HTTP version</li>
</ul>
</li>
</ul>
</li>
<li>Headers
<ul>
<li>These contain metadata about your request, like date, time, IP address, compression data, and other information like this.</li>
</ul>
</li>
<li>Message body
<ul>
<li>This is the content of your request. For example, when you send a JSON file, assuming you need to give them some information you would generally put it in the ‘body’.</li>
</ul>
</li>
</ul>
<p>From here, the API will take the data from the request, do whatever computing necessary, and respond to it with a JSON containing response information.</p>
<h4 id="endpoints">Endpoints</h4>
<p>The rest of the basic endpoints I’ve made are as follows (paste them in after <code>http://localhost:8080</code>), we’ll come back to these later:</p>
<ul>
<li><code>/api/getusers</code> or <code>/api/getusers/</code>: This endpoint returns a list of all users in the database when an HTTP GET request is made to  <code>/api/getusers</code>  or  <code>/api/getusers/</code>.</li>
<li><code>/api/getuser/{id}</code>  or  <code>/api/getuser/{id}/</code>: This endpoint returns a single user with the specified ID when an HTTP GET request is made to  <code>/api/getuser/{id}</code>  or  <code>/api/getuser/{id}/</code>.</li>
<li><code>/api/adduser</code>  or  <code>/api/adduser/</code>: This endpoint adds a new user to the database when an HTTP POST request is made to  <code>/api/adduser</code>  or  <code>/api/adduser/</code>.</li>
<li><code>/api/updateuser/{id}</code>  or  <code>/api/updateuser/{id}/</code>: This endpoint updates an existing user with the specified ID when an HTTP PUT request is made to  <code>/api/updateuser/{id}</code>  or  <code>/api/updateuser/{id}/</code>.</li>
<li><code>/api/removeuser/{id}</code>  or  <code>/api/removeuser/{id}/</code>: This endpoint removes an existing user with the specified ID when an HTTP DELETE request is made to  <code>/api/removeuser/{id}</code>  or  <code>/api/removeuser/{id}/</code>.</li>
</ul>
<h4 id="making-requests-with-java">Making Requests with Java</h4>
<p>Firstly, we need to create an HTTP client. We can do so with:<br>
<code>var client = HttpClient.newHttpClient();</code><br>
If you’re unfamiliar with the <code>var</code> keyword, it infers the type of the variable and sets it dynamically. Next up, we need to create the URI that we want to send the request to:<br>
<code>var uri = new URI("http://localhost:8080/api/adduser");</code><br>
We’ll also declare a “User” object for convenience:</p>
<pre><code>var user = new User(  
  "Jenny",  
  143,  
  "Email@email.com",  
  "pword",  
  "example.png"  
);
</code></pre>
<p>Afterwards, we can actually write up the request.</p>
<pre><code>var request = HttpRequest  
  .newBuilder()                               
  // starts to build the request object 
  .uri(uri)                                   
  // telling it to send the request to the URI we declared earlier  
  .timeout(Duration.ofMinutes(1))             
  // setting a timeout of 1 minute, so that if there's no response within one minute it will cancel the request
  .header("Content-Type", "application/json") 
  //here we're telling it that this should be a JSON request (some APIs might support requests in other file formats like YAML)
  .header("Authorization", "Bearer fake")     
  // and here is a "custom" header. Some APIs might want you to put in a value here for an API token (think something like a password). In this case we're just giving it a fake one since this API doesn't need any verification tokens.
  .POST(HttpRequest.BodyPublishers.ofString(new Gson().toJson(user))).build();
  // finally, we declare this as a POST request, with a body (content we're giving it) of a String, with a JSON file representing the object. Gson converts the object to a JSON so we can send it.
  // finish it all up with .build(); to build the request
</code></pre>
<p>Now that we’ve finished drafting up the request, we can get to sending it.<br>
<code>var response = client.send(request, HttpResponse.BodyHandlers.ofString());</code><br>
This will send the request to the API, in this case telling it we want to give it the User object previously declared so that it can add it to its database. The <code>ofString()</code> part means we’re receiving a String back. There are a few other options, but this is the one you’ll use most often. To see its response to our request, we can print the <code>body</code> of the response as follows:<br>
<code>System.out.println(response.body());</code><br>
Which will, in this case, should say <code>Success!</code>, or would contain the data we requested.</p>
<hr>
<p>If you want to give this a go, try sending requests to the following endpoints:</p>

<table>
<thead>
<tr>
<th>HTTP Request Method</th>
<th>Endpoint</th>
<th>Request Parameters</th>
<th>Hint</th>
</tr>
</thead>
<tbody>
<tr>
<td>GET</td>
<td><code>/api/get</code></td>
<td>Header called “Name” that has your name in it</td>
<td><code>.header("NAME", "VALUE")</code></td>
</tr>
<tr>
<td>PUT</td>
<td><code>/api/put</code></td>
<td>See <strong>GET</strong> response for more details</td>
<td></td>
</tr>
<tr>
<td>POST</td>
<td><code>/api/post</code></td>
<td>See <strong>PUT</strong> response for more details</td>
<td></td>
</tr>
<tr>
<td>DELETE</td>
<td><code>/api/delete</code></td>
<td>See <strong>DELETE</strong> response for more details</td>
<td></td>
</tr>
</tbody>
</table><h3 id="part-2">Part 2</h3>
<p>If you’d like to learn some more advanced things about APIs, send a GET request to <code>http://localhost:8080/next-steps/</code> for further content.</p>

    </div>
  </div>
</body>

</html>
